mixin form-change-multi-payment(path)
  form(
    action=path
    method="POST"
    form-change-multi
  )
    .d-flex.align-items-start 
      .form-group 
        select(name="type" class="form-control")
          option(disabled selected) --Chọn tình trạng thanh toán--
          option(value="pending") Chờ thanh toán
          option(value="deposit_paid") Đã đặt cọc
          option(value="paid") Thanh toán đầy đủ
          option(value="refunded") Đã hoàn trả
      .form-group 
        input(
          type="text"
          name="ids"
          value=""
          class="form-control d-none"
        )
      button(type="submit" class="btn btn-primary") Áp dụng
