mixin form-change-multi-booking(path)
  form(
    action=path
    method="POST"
    form-change-multi
  )
    .d-flex.align-items-start 
      .form-group 
        select(name="type" class="form-control")
          option(disabled selected) --Chọn tình trạng booking--
          option(value="booked") Đã đặt
          option(value="checked_in") Đã nhận phòng
          option(value="checked_out") Đã trả phòng
          option(value="cancelled") Đã hủy
      .form-group 
        input(
          type="text"
          name="ids"
          value=""
          class="form-control d-none"
        )
      button(type="submit" class="btn btn-primary") Áp dụng
