extends ../../layout/default.pug 
include ../../mixins/select-tree.pug
block main 
   h1 Thông tin chi tiết
   if(data.title)
     h2(class="mb-4") #{data.title}
    
   if(data.thumbnail)
     div(class="mb-4")
       img(
        src=data.thumbnail 
        style="width: 100px"
       )
    
   div(class="form-group")
    label(for="parent_id") Danh mục cha 
    select(
      name="parent_id"
      id="parent_id"
      disabled
      class="form-control"
    ) 
      option(value="") --Chọn danh mục cha 
      if(category)
        +select-tree(category,1,data.parent_id)

   if(data.status)
     div(class="mb-4")
       span Trạng thái: 
       if (data.status === "active")
         span(class="btn btn-success") Hoạt động
       else 
         span(class="btn btn-warning") Dừng hoạt động
  
   if(data.position)
     div(class="mb-4") Vị trí: <b>#{data.position}</b>
   if(data.content)
     div(class="mb-4") Mô tả: <b>#{data.content}</b>
   
   if(data.description)
     div(class="mb-4") Chi tiết: <b>!{data.description}</b>

     a(
      href=`${prefixAdmin}/product-category/edit-category/${data._id}`
      class="btn btn-warning btn-sm"
     ) Chỉnh sửa