extends ../../layout/default.pug 
include ../../mixins/alert.pug 
include ../../mixins/filter-status.pug 
include ../../mixins/pagination.pug 
include ../../mixins/search.pug 
include ../../mixins/form-change-multi.pug 
include ../../mixins/sort.pug 
include ../../mixins/moment.pug 

block main 
  if(role.permissions.includes("order-view"))
    +alert-success(5000)

    h1 Danh sách các đơn hàng
    
    //- Filter and search section 
    .card.mb-3 
      .card-header Bộ lọc và tìm kiếm 
      .card-body 
        .row 
          .col-6 
            +filter-status(filterStatus)
          .col-6 
            +search(keyword)
    
    //- Order list section
    .card.mb-3 
      .card-header Danh sách 
      .card-body 
        .row 
          .col-8 
            +form-change-multi(`${prefixAdmin}/order/change-multi?_method=PATCH`)
    
    .card.mb-3 
      .card-header Sắp xếp 
      .card-body 
        .row 
          .col-4 
            +sort()
        
        table.table.table-hover.table-sm(checkbox-multi)
          thead 
            tr 
              th 
                input(type="checkbox" name="checkall")
              th STT 
              th Mã đơn hàng 
              th Ngày tạo 
              th Tên khách hàng 
              th Số điện thoại 
              th Địa chỉ giao hàng 
              th Chi tiết sản phẩm 
              th Tổng tiền 
              th Trạng thái xử lý
              th Thao tác
          
          tbody 
            each item,index in orders
              tr 
                td 
                  input(
                    type="checkbox"
                    name="id"
                    value=item._id
                  )
                td #{pagination.limitItems*(pagination.currentPage-1)+(index+1)}
                td #{item._id}
                td 
                  +formatDateTime(item.createdAt)
                td #{item.userInfo.fullName}
                td #{item.userInfo.phone}
                td #{item.userInfo.address}
                td 
                  if item.products && item.products.length > 0
                    each product in item.products 
                      div #{product.productName||'Không rõ tên'} (x #{product.quantity})
                  else 
                    span.text-muted Không có sản phẩm
                td #{item.total ? item.total + "$" : "0$"}
                td
                  if item.status === "active"
                    a.badge.bg-success(
                      href="javascript:;"
                      data-status=item.status
                      data-id=item._id
                      button-change-status
                    ) Đã duyệt
                  else 
                    a.badge.bg-warning(
                      href="javascript:;"
                      data-status=item.status
                      data-id=item._id 
                      button-change-status
                    ) Chưa duyệt
                td 
                  a(
                    href=`${prefixAdmin}/order/detail/${item._id}`
                    class="btn btn-secondary btn-sm"
                  ) Chi tiết 
                  if(role.permissions.includes("order-delete"))
                    button.btn.btn-danger.btn-sm.ml-1(
                      type="button"
                      data-id=item._id 
                      button-delete
                    ) Xóa
        
        //- Pagination
        +pagination(pagination)

    form#form-change-status(
      action=""
      method="POST"
      data-path=`${prefixAdmin}/order/change-status` 
    )

    form#form-delete-item(
      action=""
      method="POST"
      data-path=`${prefixAdmin}/order/delete` 
    )
  script(src="/admin/js/order.js")
  

   

