extends ../../layout/default.pug 
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug
block main
 if(role.permissions.includes("blog-edit"))
  +alert-error(5000)
  +alert-success(5000) 
  h1(class="mb-4") Chỉnh sửa sản phẩm 

  form(
    action=`${prefixAdmin}/blog/edit/${blogs._id}?_method=PATCH`
    id="form-edit-blog"
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="title") Tiêu đề
      input(
        type="text"
        class="form-control"
        id="title"
        name="title"
        required
        value=blogs.title
      )
    div(class="form-group")
      label(for="blogs_category_id") Chọn danh mục
      select(
        name="blogs_category_id"
        id="blogs_category_id"
        class="form-control"
      ) 
        option(value="") --Chọn danh mục 
        if(category)
          +select-tree(category,1,blogs.blogs_category_id)
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="featured1"
        name="featured"
        value="1"
        checked=(blogs.featured =="1" ? true: false)
      )
      label(for="feature1" class="form-check-label") Nổi bật
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="featured0"
        name="featured"
        value="0"
        checked=(blogs.featured =="0" ? true: false)
      )
      label(for="feature0" class="form-check-label") Không
    div(class="form-group")
      label(for="cont") Mô tả
      textarea(
        class="form-control textarea-mce"
        id="desc"
        name="content"
        rows="5"
        value=blogs.content
      ) #{blogs.content}
    div(class="form-group")
      label(for="desc") Chi tiết
      textarea(
        class="form-control textarea-mce"
        id="desc"
        name="description"
        rows="5"
        value=blogs.description
      ) #{blogs.description}
    div(
      class="form-group"
      upload-image
    )
      label(for="thumbnail") Ảnh 
      input(
        type="file"
        upload-image-input
        class="form-control-file"
        id="thumbnail"
        name="thumbnail"
        accept="image/*"
      )
      img(
        src=blogs.thumbnail
        class="image-preview"
        upload-image-preview
      )
    div(class="form-group")
      label(for="position") Vị trí
      input(
        type="number"
        class="form-control"
        id="position"
        name="position"
        placeholder="Tự động tăng"
        min="1"
        value=blogs.position
      )
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked=(blogs.status == "active" ? true : false)
      )
      label(for="statusActive" class="form-check-label") Hoạt động
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
        checked=(blogs.status == "inactive" ? true : false)
      )
      label(for="statusInActive" class="form-check-label") Dừng Hoạt động
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Cập nhật
